{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/common.js" %}"></script>
<script>
   $(document).ready(function(){
        $('#statements_set-group').each(function(){
            var placeholder = $("fieldset.placeholder."+$(this).attr("id"));
            $(placeholder).replaceWith($(this));
        });
   });
</script>
{% endblock %}

{% block submit_buttons_bottom %}
{% include "admin/save_button.html" %}
{% endblock %}
<!--END Submit -->
