{% extends "ccad_dicsd_base.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
{% block custom_header %}    
  {% include "header.html" %}
  <link rel="stylesheet" type="text/css" href="{% static "css/detail_page_ppp.css" %}" /> 
  <script>
    $(function() {            
      $('#pbar-{{ instance.id }}').progressbar({
        value: {{ status_value }}
      });               
    });         
  </script>
  {% block ext_header %}
  {% endblock ext_header %}
{% endblock custom_header %}

</head>
{% block content %}
<body>
<div id="content">
<div id="header-info"><span id="marker">Detail information for <b>{% firstof instance.controlNo 'no data available' %}</b> <i> </i></span>
    <div id="rcvd-info">
        <div id="date-rcvd">Date Received <span class="date-colon">:</span></div>
        <div id="date-rcvd-value">{% firstof instance.dateEntry 'no data' %}</div>
    </div>
</div>

<div id="top-info">
  <div class="left-table">
    <div class="left-table-row"><div class="name-field">Filed by <span class="colon-field">:</span></div>        
        <div class="value-field">{% firstof instance.carrier.companyname|title 'no data available' %}</div>
    </div>
    <div class="left-table-row"><div class="name-field">Task <span class="colon-field">:</span></div>       
        <div class="value-field">{% firstof instance.units 'unknown' %} unit{{ instance.units|pluralize }} for 
                                 {% if "PPP" in instance.transtype %}
                                  Permit to Purchase/Possess
                                 {% else %} 
                                    {% if "TP" in instance.transtype %}
                                      Temporary Permit                                  
                                    {% else %} 
                                      {% if "DEMO" in instance.transtype %}
                                        Propagation / Demo Permit                                 
                                      {% else %} 
                                        {% if "STO" in instance.transtype %}
                                          Permit to Possess for Storage
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                 {% endif %}</div>
        </div>
    
    <div class="left-table-row">
        <div class="name-field">Service <span class="colon-field">:</span></div>        
        <div class="value-field">{% firstof instance.service|title 'no data available' %}</div>
    </div>    
  </div>

  <div id="bottom-left-row">    
    <div class="left-table-row">
        <div id="ppp">{% if instance.transtype %}{% if "NEW"  in instance.transtype or "PPP"  in instance.transtype %}Permit to Purchase/Possess{% endif %}{% if "TP" in instance.transtype %}Temporary Permit No.{% endif %}{% if "DEMO" in instance.transtype %}Propagation / Demo Permit{% endif %}{% if "STO" in instance.transtype or "STO" in instance.transtype  %}Permit to Possess (Storage){% endif %}{% endif %}{% if  "ALL"  in instance.transtype %}Permit type unknown{% endif %}
          <span class="colon-field">:</span></div>        
        <div id="ppp-value">{% firstof instance.permitNo 'no data available' %}</div>
    </div>
  </div>
  {% include "official_receipt.html" with task=instance %}
  </div>
  {% block filename %}
  {% include "filename.html" %}
  {% endblock filename %}
  {% block uploadfile %}{% endblock uploadfile %}

  {% include "status_progressbar.html" with task=instance %}
  {% include "table_ppp.html" with task=instance %}
</div>
{% endblock content %}
{% block custom_footer %}
{% endblock custom_footer %}
</body>
</html>
