  {% load staticfiles %}

  <!-- File upload related files 
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}">

  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />   
  <script type="text/javascript" src="{% static "js/jquery-1.9.1.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
<!-- End related files -->  
  <link rel="stylesheet" href="{% static "grappelli/stylesheets/screen.css" %}" />
  <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.3.custom.css" %}" />   
  <script type="text/javascript" src="{% static "admin/js/jquery-1.9.1.js" %}"></script>
  <script type="text/javascript" src="{% static "admin/js/jquery-ui-1.10.3.custom.js" %}"></script>   
  <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
  <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
 

  

 