{% load static from staticfiles %}
{% load url from future %}
<head>
<script src="{% static 'ccad/jquery.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization', '1', {packages: ['corechart']});</script>
<script type="text/javascript">   
function init () {
    {% for staff_name, staff_id in params.items %}
    $.ajax({
        url: "{% url "user_kpi" %}",
        data: { user_stat: {{staff_name}} },
        success: function(responseData) { 
            if (typeof responseData=="object") {                      
                var data = new google.visualization.arrayToDataTable([
                    ['Type', 'Processed Items', { role: 'style' }, 'Processed beyond Due Date', { role: 'style'}],
                    ['PPP', Math.round(responseData['PPP_ontime']), 'lightgreen', Math.round(responseData['PPP_due']), 'red'],
                    ['CP', Math.round(responseData['CP_ontime']), 'gold', Math.round(responseData['CP_due']), 'red'], 
                    ['RSL', Math.round(responseData['RSL_ontime']), 'lightblue', Math.round(responseData['RSL_due']), 'red'],
                    ['MOD', Math.round(responseData['MOD_ontime']), 'yellow', Math.round(responseData['MOD_due']), 'red' ], 
                    ['STO', Math.round(responseData['RECALL_ontime']), 'silver', Math.round(responseData['RECALL_due']), 'red'],
                    ['TP', Math.round(responseData['TP_ontime']), 'orange', Math.round(responseData['TP_due']), 'red'],
                    ['DEMO', Math.round(responseData['DEMO_ontime']), 'violet', Math.round(responseData['DEMO_due']), 'red'],
                    ['DUP', Math.round(responseData['DUP_ontime']), 'brown', Math.round(responseData['DUP_due']), 'red']
                ]);
                drawVisualization(data, {{staff_name}});                
            }
        }
    });
    {% endfor %}
}
google.load('visualization', '1', {packages:['corechart'], callback: init});

function drawVisualization(xdata, id) { 
  // Create and draw the visualization.   
  var visual = 'visualization-'+id.toString(),
      //chart = new google.visualization.BarChart(document.getElementById(visual));
      wrapper = new google.visualization.ChartWrapper({
          chartType: 'BarChart',
          dataTable: xdata,
          options: {
                    width:600, height:140,
                    vAxis: {title: null, maxValue: 3500},
                    hAxis: {title: null},
                    
                    animation: {easing: 'in'},
                    axisTitlesPosition: "out",
                    chartArea:{left:0,top:0, right:0, width:"100%",height:"100%"},
                    focusTarget: "category",
                    fontSize: 12,
                    fontName: "Tahoma",
                    legend: {position: 'none'},
                    //orientation: "vertical"
                    series: [{color: 'black', visibleInLegend: false}, {}, {},
                             {color: 'red', visibleInLegend: false}],
                    isStacked: true,
                    backgroundColor: '#eee',
                   },
          //view: { columns: [0,4] },
          containerId: visual
      });
      google.visualization.events.addListener(wrapper, 'ready', function() {
        var chart = wrapper.getChart();
        google.visualization.events.addListener(chart, 'onmouseover', function() {
            var selection = chart.getSelection(),
                total_id = 'active-item-'+id.toString();
            
            if (selection.length) {
                // the user selected a bar
                //alert(xdata.getColumnType(1));
                var total = parseInt(xdata.getValue(selection[0].row, 1 ))+parseInt(xdata.getValue(selection[0].row, 3 ));
                //alert(total);
                $(total_id).append(total);
                //$(total_id).html("<span style='font-weight: bold;'>"+total+"</span>");
                //$.post('Ajax.php', {}, lpOnComplete, 'html');


                //alert(selection.length);                
            }
            else {
                //alert('no selection');// the user deselected a bar
            }
        });
      });

      wrapper.draw();
}
</script>  
</head>
{% for staff_key, staff_val in params.items %}
  {% for staff_name, staff_id in staff_val.items %}
      <div class="g-d-6 grp-module"  style="width:100%">        
        <h2 class="grp-section" id="visualization-section-{{staff_key}}" >
          {{staff_name|capfirst}}
          
          <span title="Processed for the current year: {{staff_id.staff_kpi_target.processed}}
KPI target was set to {{staff_id.staff_kpi_target.target}}" id="processed-target-item-{{staff_key}}" style="float:right;font-size:13px;">
            Total value: {{staff_id.staff_kpi_target.processed}}/{{staff_id.staff_kpi_target.target}}
          </span>
        </h2>
        <!--Google Bar Chart -->        
        <div  class="grp-row" id="visualization-{{staff_key}}" style="width: 620px; height: 160px;">
        </div>        
      </div>     
  {% endfor %}    
{% endfor %}