body{font-family: Arial; font-size: 12px; font-weight: 400; margin:10px;}
form
#top-border {width:100%}
#check-all{margin-right:5px; width:35px}

#testcheck {width:150px}
#submit{float:left; }

table
#content{font-family: Arial; font-size:12px; font-weight:400; }

table thead tr td {padding:5px 0 5px 0;}
#cn-header, #task-header, #action-header{font-weight:bold; font-size:16px; padding-top:2px; text-align:center;}
activity per record
#activity-row{height:50px; font-size:10px; }

.icon{width:32px; height:32px; font-size:8px;}

.hide-icon{visibility:"hidden";}
#cn, #cn-header{width:150px; font-weight:bold;}
#cn {font-size: 14px;}
#task, #task-header{width:250px;
               padding: 0 15px 0 5px;}
.action, #action-header{width:290px; padding: 0 0 0 5px;}
.file-name{font-size:10px;}

#engr-choice{margin-bottom:10px}

#status, .more_details, #due_date{font-size:10px;}
#due_date{}
.pbar{height:4px;}
#progressbar-1{height:4px;}
.btn-style{
		-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.7);
		-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.7);
		box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.7);
		background: -moz-linear-gradient(270deg, rgb(234, 234, 234) 30%, rgb(255, 255, 255) 70%);
		background: -webkit-linear-gradient(270deg, rgb(234, 234, 234) 30%, rgb(255, 255, 255) 70%);
		background: -o-linear-gradient(270deg, rgb(234, 234, 234) 30%, rgb(255, 255, 255) 70%);
		background: -ms-linear-gradient(270deg, rgb(234, 234, 234) 30%, rgb(255, 255, 255) 70%);
		background: linear-gradient(0deg, rgb(234, 234, 234) 30%, rgb(255, 255, 255) 70%);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-color:#b4c2c5;
		border-style:solid;
		border-width:1px;
		padding:5px;
		text-decoration:none;
		color:#666666;
		font-family:arial;
		font-size:11pt;
		
	}

